<% if session[:login] %>
		<h1> <%= session[:user_name] %></h1>
<% else if flash[:msg] %>
	<h1><%= flash[:msg] %></h1>
	<% else %>
		<%= form_tag('/login',method: "post") do %>
			<%= label_tag :user_name %>
			<%= text_field_tag :user_name %>
			<br />
			<%= label_tag :user_pwd %>
			<%= password_field_tag :user_pwd %>
			<br />
			<%= submit_tag "Login" ,class: "btn"%>
		<% end %>
	<% end %>
<% end %>
