<%= render "leftbar" %>
<div >
	<h1><%= @place.name%></h1>
	<%= @place.phone%>
	<%= @place.info%>
	<br />
	<%= link_to "Upload a photo", '/place/photo/'+@place.id.to_s%>
	<img src=<%= "/uploads/"+@place.photo_path %> alt="" class="img-circle" >
</div >

<hr />

<%= render partial:'room/room' ,collection: @rooms %>


<div class="span12">
	<h3>Add Room </h3>
	<%= form_for @room, url:{controller: "room",action: "create"} do |f| %>
	<%= hidden_field_tag(:place_id, @place.id) %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br />
	<%= f.label :info%>
	<%= f.text_field :info%>
	<br />
	<%= f.submit "Add" %>
	<% end %>
</div>
