<div class="navbar">
<div class="navbar-inner">
	<ul class="nav">
	<li ><%= link_to 'Index',:root %></li>
	<% if !session[:login] %>
		<li><%= link_to 'login',:login %></li>		
		<li><%= link_to 'Register',:register%></li>
	<% else %>
		<li><%= link_to 'Place Manage',:placemanage %></li>
		<li><%= link_to session[:user_name],'/user/'+session[:uid].to_s %></li>
		<li><%= link_to 'Logout',:logout%></li>
	<% end %>
	</ul>
</div>
</div >

